# Aggregating Teacher Logs

In [1]:
import pandas as pd
import numpy as np

## Load the Entire Dataset

In [2]:
concat_dataset_path = 'concat data_q1_cleaned_fixed.csv'

df = pd.read_csv(concat_dataset_path, encoding= 'unicode_escape' )

In [3]:
df.head()

,Time,User full name,Affected user,Event context,Component,Event name,Description
0,9/9/20 12:00 AM,14328.0,NaN,Open Forum: Announcements,Open Forum,Course module viewed,The user with id '14328' viewed the 'hsuforum'...
1,9/9/20 12:00 AM,5809.0,NaN,Other,System,Course viewed,The user with id '5809' viewed the course with...
2,9/9/20 12:00 AM,12711.0,NaN,Front page,System,Course viewed,The user with id '12711' viewed the course wit...
3,9/9/20 12:00 AM,2820.0,2820.0,Course: 5919,System,User profile viewed,The user with id '2820' viewed the profile for...
4,9/9/20 12:00 AM,13778.0,NaN,Course: 4531,System,User list viewed,The user with id '13778' viewed the list of us...

## Getting Teacher IDs from the Entire Dataset

In [4]:
# Path of the csv file containing student ids
teacher_ids_path = 'AS_TEACHERS.csv'

teacher_id_df = pd.read_csv(teacher_ids_path)

# Get the IDs from the ID column
teacher_ids = teacher_id_df['User full name']

# Put all the ids in a list
teacher_ids = teacher_ids.values.tolist()

In [5]:
teacher_df = df[df['User full name'].isin(teacher_ids)]
teacher_df.head()

,Time,User full name,Affected user,Event context,Component,Event name,Description
51,9/9/20 12:01 AM,1102.0,NaN,Questionnaire: Student Information Survey,Questionnaire,Question created,The user with id '1102' has created or modifie...
93,9/9/20 12:01 AM,1102.0,10953.0,System,System,Notification sent,The user with id '1102' sent a notification to...
95,9/9/20 12:01 AM,1102.0,10618.0,System,System,Notification sent,The user with id '1102' sent a notification to...
97,9/9/20 12:01 AM,1102.0,8775.0,System,System,Notification sent,The user with id '1102' sent a notification to...
99,9/9/20 12:01 AM,1102.0,8404.0,System,System,Notification sent,The user with id '1102' sent a notification to...

## Getting the info of the students

In [6]:
def getteacher(teacher_ids):
    
    blank = pd.DataFrame(columns = ['ID']) 
    final = pd.DataFrame(columns = ['ID'])
        
    counter = 0

    for teacher in teacher_ids:
    
        certain_teacher = df[df['User full name'] == teacher]
        info = certain_teacher['Event name'].value_counts()
        
        # Make the Dataframe
        
        frame = info.to_frame()
        frame = frame.transpose()
        
        # Inserting the ID into the dataframe
        frame.insert(0, 'ID', teacher)
        
        if counter == 0:
            total_df = pd.concat([blank,frame], axis=0, ignore_index=True)
            counter += 1
        else: 
            total_df = pd.concat([total_df,frame], axis=0, ignore_index=True)
            counter += 1
        
    
    return total_df

In [7]:
final_df = getteacher(teacher_ids)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:25: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [8]:
final_df.to_csv('teacher.csv')

## Editing the Dataframe

In [9]:
agg_df = pd.read_csv('teacher.csv')

In [10]:
agg_df.head()

,Unnamed: 0,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,Assessment evaluated,Assessment evaluations reset,...,User unenrolled from course,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,XLS grade exported
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
agg_df = agg_df.set_index('ID')

In [12]:
agg_df = agg_df.drop('Unnamed: 0', 1)

In [13]:
agg_df.head()

,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,Assessment evaluated,Assessment evaluations reset,Assessment re-evaluated,...,User unenrolled from course,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,XLS grade exported
ID,,,,,,,,,,,,,,,,,,,,,
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
agg_df.to_csv('teacher.csv')

In [15]:
teach_df = pd.read_csv('teacher.csv', index_col = 0)
teach_df.head()

,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,Assessment evaluated,Assessment evaluations reset,Assessment re-evaluated,...,User unenrolled from course,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,XLS grade exported
ID,,,,,,,,,,,,,,,,,,,,,
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
teach_df.to_csv('teachers.csv')